<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Resale Management</title>
</head>
<body>
    <div class='container'>
        <div class='jumbotron'>
        {% if data_dict %}
            <ol>
            <b>Broker information</b>
            <br>
            {% for e in data_dict %}
            <li>{{e.firstname}} {{e.lastname}}</li>
                <ul type='circle '>
                    <li>First Name : {{e.firstname}}</li>
                    <li>Last Name : {{e.lastname}}</li>
                    <li>Email : {{e.email}}</li>
                    <li>Contact number : {{e.phonenumber}}</li>
                </ul>
            {% endfor %} 
            </ol>
        {% else %}
        <p>NO DATA AVAILABLE</p>
        {% endif %}
        <a class="btn btn-primary" href="/">Back to home</a>

        </div>
    </div>
</body>
</html>