<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Resale Management</title>
</head>
<body>
    <div class='container'>
        <div class='jumbotron'>
            <h1>This site is in progress</h1>
            <h2>Press  <a class="btn btn-dark" href="/vehicle">vehicle</a>  to sign up </h2>
            <h2>Press  <a class="btn btn-dark" href="/vehicle_list">vehicle_list</a>  to see all the available list </h2>
            <h2>Press  <a class="btn btn-dark" href="/broker">broker</a>  to register yourself as broker</h2>
            <h2>Press  <a class="btn btn-dark" href="/broker_list">broker_list</a>  broker_list to see al the available brokers</h2>
        </div>
    </div>
</body>
</html>