<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django level 2</title>
    <link rel='stylesheet' type="text/css" href="{% static 'css/my_style.css' %}">
  </head>
  <body>
    <h1>Hello, welcome to django level 2</h1>
    <h2>hello, welcom to django level 2</h2>
    <!-- <img src="{% static "images/v.png" %}" alt="sorry, can't load"> -->
    <div class='djangtwo'>
      {% if access_records %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>
          {% for e in access_records %}
          <tr>
            <td>{{e.names}}</td>
            <td>{{e.date}}</td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
      <p> NO ACCESS RECORD FOUND </p>
      {% endif %}
    </div>
    <!-- {{insert_me }} -->
  </body>
</html>
