<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>HOME</title>
</head>
<body>
    <div class='container'>
        <div class='jumbotron'>
            <h1>Welcome to html</h1>
            <h3>Go to <em>/form_page</em> to fill out the form</h3>
        </div>
    </div>
</body>
</html>